<h1><%= account.nickname %></h1>

<table class="data-panel">
  <tr>
    <th style="display: block">Name</th>
    <th style="display: block">Account Number</th>
    <% if (account.unique_name == 'credit') { %>
      <th style="display: block">Available Balance</th>
    <% } else { %>
      <th style="display: block">Prior Balance</th>
    <% } %>
    <th style="display: block">Current Balance</th>
  </tr>
  <tr>
    <td style="display: block"><a href="/account/<%= account.unique_name %>"><%= account.nickname %></a></td>
    <td style="display: block"><%= account.account_number %></td>
    <% if (account.unique_name == 'credit') { %>
      <td style="display: block">$<%= account.available %></td>
    <% } else { %>
      <td style="display: block">$<%= account.prior_balance %></td>
    <% } %>
    
    <td style="display: block">$<%= account.balance %></td>
  </tr>
</table>